/*
Breakpoints
648px = 40.5em
940px = 58.75em
*/

.sort-by-type,
.sort-by-category {
	margin-top: 0;
	display: block;
	width: auto;
	max-width: 100%;
	min-width: 0;
	float: left;
}

.sort-by-type {
	margin-right: 2.5em;
}

/* TODO: Do something about styles for < 40.5 being added to 58.75 aswell */

@media all and (min-width: 40.5em) and (max-width: 58.75em) {
	.sort-by-type {
		margin-bottom: 0.8em;
		margin-right: 0;
	}

	.sort-by-type,
	.sort-by-category {
		float: none;
	}
}

@media all and (min-width: 58.75em) {
	/*
	===============
	   SORTER BAR
	===============
	*/

	/* TODO: Fallback
	{
		min-width: 5em /20em;
		margin: 0 auto on flex container;
		remove flex;
	}*/

	.sort-by-type,
	.sort-by-category {
		margin-top: 0;
		display: block;
		width: auto;
		max-width: 100%;
		min-width: 0;
		float: left;
	}

	.sort-by-type {
		margin-right: 2.5em;
	}

    .checkbox-button {
	    margin-bottom: 0;
    }

	/*
	===============
	   FOOTER
	===============
	*/

	.footer .top-row {
		display: flex;
		border-bottom: 1px dashed #4f4f4f;
		padding-bottom: 2.5em;
		margin-bottom: 2.5em;
	}

	.footer-block {
		display: inline-block;
		border-right: 1px solid #4c4c4c;
		border-bottom: 0;
		padding: 0.5em 2.5em 0.5em 0;
		margin: 0 2.5em 0 0;
		width: auto;
		vertical-align: top;
	}

	.footer-block:last-child {
		border-right: 0;
		margin-right: 0;
		padding-right: 0;
	}

	.footer-block p:first-child {
		margin-top: 0;
	}

    .footer-block p:last-child {
	    margin-bottom:0;
    }
}